.login {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 36px;
  padding: 44px 80px 30px;
  width: 536px;
  height: auto;
  background: #FFFFFF;
  box-shadow: 0 32px 128px -48px rgba(16, 0, 37, 0.25);
  border-radius: 10px;
}
.login__input {
  width: 376px;
  text-align: left;
}
.login__input .input:hover + .input__reaction-line {
  border-bottom: 2px solid var(--Black);
}
.login__buttons {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}
.button.login__close {
  position: absolute;
  top: 20px;
  right: 20px;
  background: transparent;
  height: 24px;
  width: 24px;
  border: none;
}
.login__close::before {
  content: url("../../images/icons/Type=Close, Color=Black, Status=Normal.svg");
  display: flex;
}
.login__close:hover::before {
  content: url("../../images/icons/Type=Close, Color=Universal, Status=Hover.svg");
}
.register .anchor__link::after,
.pass-lost .anchor__link::after {
  content: url("../../images/icons/Type=Arrow right, Color=Black, Status=Normal.svg");
  display: flex;
  height: 24px;
  width: 24px;
}