:root {
  --White: #ffffff;
  --Black: #000000;
  --Light-gray: #E0E0E0;
  --Gray: #808080;
  --Dark-gray: #404040;
  --Lime: #bbdd00;
  --Yellow: #EECD00;
  --Orange: #fa7000;
  --Shade-violet: #100025;
  --Dark-violet: #200050;
  --Violet: #301070;
  --Bright-violet: #7540f0;
  --Brightest-violet: #e0d8ff;
}