.info-block {
  display: flex;
  align-items: flex-start;
  gap: 20px;
  color: var(--Brightest-violet);
}
.info-block__block {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  max-width: 370px;
  flex: 1;
}
.info-block__term {
  padding: 50px 0;
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 39px;
  text-align: center;
  text-transform: uppercase;
  white-space: nowrap;
  max-width: 370px;
}
.info-block__description {
  font-style: normal;
  /*font-weight: 600;*/
  /* Не соотвествует макету, видно именно 500 */
  font-size: 16px;
  text-align: center;
  line-height: 19px;
  max-width: 320px;
  opacity: 0.75;
  margin: 0;
}