.search-panel {
  position: relative;
  display: flex;
  flex-direction: column;
}
.search-panel__input {
  color: var(--White);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0 20px;
  outline: none;
  border: none;
  height: 59px;
  background: rgba(16, 0, 37, 0.25);
  border-radius: 4px 4px 1px 1px;
  cursor: pointer;
  width: 640px;
}
.search-panel__reaction-line {
  border-bottom: 2px solid var(--Gray);
  width: 100%;
}
.search-panel__input:hover + .search-panel__reaction-line,
.search-panel__button:hover ~ .search-panel__reaction-line {
  border-bottom: 2px solid var(--White);
}
.search-panel__input:focus + .search-panel__reaction-line,
.search-panel__button:focus ~ .search-panel__reaction-line {
  border-bottom: 2px solid var(--Lime);
}
.search-panel__input::placeholder {
  color: var(--White);
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
}
.button.search-panel__button {
  position: absolute;
  top: 0;
  right: 0;
  background: transparent;
  border: none;
  outline: none;
  height: 100%;
  width: auto;
  padding: 20px 20px 15px 20px;
}
.search-panel__button::before {
  content: url("../../images/icons/Type=Search, Color=White, Status=Normal.svg");
  display: block;
  height: 24px;
  width: 24px;
}

.search-panel__button:hover::before {
  content: url("../../images/icons/Type=Search, Color=Universal, Status=Hover.svg");
}