@font-face {
  font-family: "Inter";
  src: url("fonts/Inter-Medium.ttf") format("truetype");
}
@font-face {
  font-family: "Inter Bold";
  src: url("fonts/Inter-Bold.ttf") format("truetype");
}
/* Const colors */
:root {
  --White: #ffffff;
  --Black: #000000;
  --Light-gray: #E0E0E0;
  --Gray: #808080;
  --Dark-gray: #404040;
  --Lime: #bbdd00;
  --Yellow: #EECD00;
  --Orange: #fa7000;
  --Shade-violet: #100025;
  --Dark-violet: #200050;
  --Violet: #301070;
  --Bright-violet: #7540f0;
  --Brightest-violet: #e0d8ff;
}
body {
  margin: 0;
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 19px;
  letter-spacing: 0;
  text-align: center;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
  monospace;
}
body {
  background-image: url("images/Background.svg");
  background-size: auto 100%;
  background-position: center;
  background-repeat: no-repeat;
}
html, body, #root {
  width: 100%;
}
h1 {
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  line-height: 58px;
  margin: 0;
}